{% extends "_base.html" %}

{% block head %}
<script src="/static/hex.js" type="text/javascript"></script>
{% end %}

{% block content %}
<script type="text/javascript">
//var ws = new WebSocket("ws://localhost:12000/ws/binary");

$(document).ready(function () {
    var hex = Hex("#hex-canvas", 10, 10);
    hex.color_hex(1, 1, 'blue');
    hex.color_hex(3, 3, 'red');
    for(var i = 0; i < 10; i++) hex.color_hex(i, 5, 'green');
});
</script>

<canvas id="hex-canvas" width="750px" height="750px"></canvas>
{% end %}
